<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302620187188-e8gk5t9fug3516j66e7as7rdnmqt9jtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302620187188-e8gk5t9fug3516j66e7as7rdnmqt9jtv</string>
	<key>API_KEY</key>
	<string>AIzaSyAkighjNrIariYNrnC8oqOWxrr63lLdSeY</string>
	<key>GCM_SENDER_ID</key>
	<string>302620187188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>socialcat-5e8af</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcat-5e8af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302620187188:ios:e35e3348dad74328c68861</string>
</dict>
</plist>